{% extends 'layout.twig' %}

{% block content %}

    <h3>Timer3 execution is:</h3>

    <h4>{{ timer3 }}</h4>

    <hr/>
    <h4> Result3 is:</h4>

    <pre>{{ arrayResult3 }}</pre>

    <hr/>



{% endblock %}
