{% extends 'layout.twig' %}

{% block content %}

    <h3>Timer1 execution is:</h3>

    <h4>{{ timer1 }}</h4>

    <hr/>
    <h4> Result1 is:</h4>

    <pre>{{ arrayResult1 }}</pre>

    <hr/>



{% endblock %}
