{% macro list(items, step = 0) %}
    {% import _self as tree %}

    <ul class="tree-list-step-{{ step }}" style="margin-left: {{ step * 25 }}px;">
        {% for item in items %}
            <li>
                {{ item }}
                {% if item.childrens %}
                    {{ tree.list(item.childrens, step + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}