{% extends 'layout.twig' %}

{% block content %}

    <h3>Timer2 execution is:</h3>

    <h4>{{ timer2 }}</h4>

    <hr/>
    <h4> Result2 is:</h4>

    <pre>{{ arrayResult2 }}</pre>

    <hr/>


{% endblock %}
